body{
    font-family: 'Montserrat', arial;
}
.login{
    margin-right: 20px;
    font-size: 20px;
    color:rgb(248, 255, 248);
    font-weight: bold;
    transition: .2s;
    
}


#input, #bio{
    display: none;
}

.txt-shadow{
    text-shadow: 0px 0px 5px #333;
}
.login:hover{
    text-decoration: none;
    color: #ddd;
}
.jumbotron{
    background: transparent;
}
#navbar{
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    
    z-index: 100;
}
.insert-wali{
    display:none;
}
.insert-wali.active{
    display: block;
}
.title{
    font-family: arial;
    color:white;
    font-weight: bold;
    text-transform: uppercase;
}
#foto{
    height: 1025px;
    
    padding: 100px;
    padding-top: 250px;
}
#seluruh{
    margin-top: -50px;
    background: #eee;
}
#alur{
    border-top: 5px solid #2780E3;
    position: relative;
    top:-200px;
    background: white;
    padding: 50px 200px;
}
.title-alur{
    padding: 20px;
    border-bottom: 3px solid #2780E3;
    display: inline-block;
    transition: .2s;
}
.title-alur:hover{
    padding:20px 40px;
    
    text-shadow: 1px 1px 5px #ddd;
}
.item-alur {
    margin:12px;
    padding:20px;
    background: #eee;
    transition:.2s;
}
.item-alur:hover{
    box-shadow: 1px 1px 5px #ddd;
}
.item-alur h1{
    background: #2780E3;
    padding: 10px;
    color: white;
    font-size: 30px;
    display: inline-block;
    transition: .3s;
}
.item-alur h1:hover{
    padding: 10px 15px; 
}
#daftar-ulang{
    padding-bottom: 100px;
}
.logo{
    width: 100px;
    transition: .4s;
}
.logo.active{
    width: 50px;
}
#navbar{
    transition: .4s;
}
#navbar.active{
    background: white;
    padding: 5px;
}
#pendaftaran-ulang{
    padding: 100px;
}
.item-ulang{
    background: rgb(241, 241, 241);
    padding: 20px;
    padding-bottom: 40px;
    transition: .2s;
    overflow: hidden;
    margin: 20px;
}
.item-ulang:hover{
    box-shadow: 1px 1px 5px #ddd;
}
.item-ulang h1{
    padding: 10px 20px;
    border-radius: 5px;
    background: #29B68C;
    color:white;
    display: inline-block;
    margin-bottom: 10px;
}
.lanjut{
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 10px;
    background: #29B68C;
    color:white;
    box-shadow: 1px 1px 5px #29B68C;
}
#informasi{
    background-color: #eee;
    padding-bottom: 100px;
}
.informasi{
    padding: 50px;
}
#footer{
    padding: 20px;
    background: #333;
    box-shadow: 1px 1px 10px #333;
}
.h3-title{
    display: inline;
}
#atas{
    padding: 10px 15px;
    font-size: 20p;
    background: #29B68C;
    transition: .2s;
    color:white;
    border-radius: 5px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transform: translate(100px, 0);
}
#atas:hover{
    background: #2780E3;
    color:black;
}
#atas.active{
    transform: translate(0,0);
}

/* halaman daftar */
#navbar-daftar{
    background: #333;
    position: relative;
}
#content{
    background: rgb(246, 246, 246);
    padding: 50px;
}
.merah{
    color:red;
}
.ke{
    width: 100px; display: inline-block;
}
.day, .month, .year{
    padding: 0.375rem 0.75rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
}
.modal-backdrop.show{
    display: none;
    background: rgba(51, 51, 51, 0.34);
}
.daftar1{
    padding: 10px;
    background: #2780E3;
    color:white;
    font-size: 20px;
}

#item-orang, #item-upload, #item-orang, #item-akun{
    display: none;
}


@media screen and (max-width: 983px){
    #foto{

        padding: 20px;
        padding-top: 50px;
    }
    .title{
        font-size: 50px;
    }
    #alur{
        padding: 20px;
    }
    #pendaftaran-ulang{
        padding: 20px;
    }
    .navbar-brand{
        width: 100px;
    }
    .navbar-collapse{
        width: 200px;
        flex-basis: 0;
    }
}
@media screen and (max-width: 655px){
    .h3-title{
        display: none;
    }
    #footer{
        padding: 10px;
    }
}
@media screen and (max-width: 591px){
    .title{
        font-size: 30px;
    }
    #foto{
        padding-top: 100px;
    }
    .nurul{
        font-size: 20px;
    }
}
@media screen and (max-width: 567px){
    .logo-footer{
        width: 200px;
    }
    .daftar, .log{
        font-size: 20px;
    }
}
@media screen and (max-width: 376px){
    .title-alur{
        font-size: 23px;
        padding: 5px 5px;
    }
    .title-alur:hover{
        padding: 5px;
    }
    .daftar, .log{
        font-size: 15px;
    }
}